/* Geschreven door Steven Whitton */
/* Frontend 2016 Project WEB */

@font-face {
    font-family: NS Sans;
    src: url(/../font/nssans__-webfont.ttf)
}

/* Borderbox applied to all elements */
* {
    box-sizing: border-box;
}

/* General Rules applied to most elements */

a {
    text-decoration: none;
    color: white;
}

body {
    background-color: #E6E6E9;
    font-family: NS Sans;
    padding: 0em;
    margin: 0em;
}

header {
    color: #003082;
}

/* Menu */

header {
    background-color: white;
    width: 100%;
}

header .navigatie {
    display: flex;
    flex-direction: row;
    width: 100%;
    flex-wrap: wrap;
    height: 3em;
    justify-content: space-between;
}

.navigatie section {
    width: 15em;
    display: flex;
}

.navigatie section{
    width: 33%;
}

.navigatie img {
    max-width: 5em;
    margin: .5em;
}

.genreBalk {
    background-color: #003082;
    width: 100%;
}

.genreBalk {
    padding-top: .5em;
    padding-bottom: .5em;
/*    max-width: 90vw;*/
    margin: auto;
}

.genreBalk ul {
    text-align: center;
}

.genreBalk ul li {
    list-style: none;
    display: inline-block;
    padding: .5em;
    background-color: #003082;
    color: white;
    margin: 0 1em;
}


/* MAIN CONTENT */

fieldset {
    border: none;
}

main {
    display:flex;
    flex-wrap: wrap;
/*    max-width: 100em;*/
}

.intro {
    padding: .8em;
    background-color: #ffc917;
    width: 30em;
    box-shadow: 0 2px 0 #e7b618;
    position: absolute;
    margin: auto;
}

.introImg {
    width: 100%;
    height: 100%;
}

.itemList {
    display: flex;
    flex-wrap: wrap;
}

.item {
    background-color: white;
/*    padding: 1em;*/
    width: 30em;
    margin: .5em;
    box-shadow: 0 3px 0 #E6E6E9, 0 6px 0 #c5c5cb
}

.item img {
    width: 100%;
}

.item .itemText {
    padding: 1em;
    width: 100%;

}

.item a {
    display: block;
    background-color: #0079d3;
    padding: 1em 1.5em;
    margin-top: 5e?m;
    text-align: center;
    width: 10em;
    box-shadow: 0 2px 0 #005ca0;
    transition: background-color .25s ease-in-out;
}

.item a:hover {
    background-color: #005ca0;
}


/* Media Query for all screen >1080 px */

@media  screen
        and (min-width: 1000px)
        and (max-width: 1500px) {

}
